body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr; /* Satu kolom untuk tampilan */
    grid-template-rows: auto 1fr; /* Navbar auto height, main sisa ruang */
    grid-template-areas: 
        "navbar"
        "main"; /* Menentukan susunan navbar di atas dan main di bawah */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e2f;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    grid-area: navbar;
    background-color: #252549;
    padding: 20px;
    color: white;
}

/* Main content */
main {
    grid-area: main;
    display: flex;
    padding: 20px;
    background-color: #1e1e2f;
    color: #252549;
    align-items: center;
    justify-content: center;
}

.profil{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.profil img{
    width: auto;
    height: 300px;
    border-radius: 50%;
}
.kartu{
    width: 800px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background: #f5f5f5;
}
.kartu h2, h3{
    text-align: center;
}
.btn_change{
    float: right;
    min-width: 68px;
    margin-top: 8px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    background-color: #1D52E0;
    color: #EEEEF0;
}
.btn_back{
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: #1D52E0;
}