body {
  background-color: #1e1e2f;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden; 
  overflow-y: hidden;
}

.navbar {
  background-color: #252549;
  padding: 10px 20px;
  margin-left: 250px;
}

.navbar span {
  color: #f8f9fa;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar img {
  height: 40px; /* Atur tinggi lebih kecil */
  max-width: 150px; /* Atur lebar maksimum */
  object-fit: contain; /* Pastikan gambar tetap proporsional */
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #161625;
  padding: 20px;
  position: fixed;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 1rem;
}

.sidebar a:hover {
  background-color: #44446f;
}

.content {
  max-height: 100vh;
  margin-left: 270px;
  padding: 20px;
}

.chat {
  margin: 10px;
  max-width: 100%;
  min-height: 95%;
  border-radius: 10px;
  position: relative;
  background-color: #2a2a3e;
}
.typing {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  height: 32px;
}
.chatbox {
  width: 80%;
  border: 1px solid #161625;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #222231;
  
}
.send {
  border: none;
  color: #eeeef0;
  background-color: #6567a6;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.message {
  background-color: #3a3b52;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: white;
}

.message strong {
  color: #a2a2d0;
}

.sidebar_settings {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #161625;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar_settings a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #f5f5f5;
  display: block;
  transition: 0.5s;
}

.sidebar_settings a:hover {
  background-color: #575757;
}

.profile-picture {
  width: 100px; /* Atur lebar gambar */
  height: 100px; /* Atur tinggi gambar */
  border-radius: 50%; /* Membuat gambar menjadi lingkaran */
  object-fit: cover; /* Memastikan gambar tidak terdistorsi */
  margin-bottom: 15px; /* Tambahkan jarak antara gambar dan elemen lain */
  border: 2px solid white; /* Opsional: Menambahkan border putih */
}

.sidebar-img {
  width: 10px;
  height: 10px;
}

.meeting {
  border: none;
  color: #eeeef0;
  background-color: #6567a6;
  height: 32px;
  margin-top: 3px;
  margin-right: 10px;
  float: right;
}

.meeting:hover {
  background-color: #595a97;
}
.settings {
  height: 32px;
  margin-top: 3px;
  margin-right: 10px;
  float: right;
  background-color: #6c6e79;
}
.settings:hover {
  background-color: #797b86;
}

.student-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.days li.has-event {
  background-color: red; /* Tanggal dengan event diberi warna latar */
  color: #fff;
}
