body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar main";
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.meeting{
    border: none;
    color: #EEEEF0;
    background-color: #6567A6;
    height: 32px;
    margin-top: 3px;
    margin-right: 10px;
    float: right;
}
.meeting:hover{
    background-color: #595A97;
}
.settings {
    height: 32px;
    margin-top: 3px;
    margin-right: 10px;
    float: right;
    background-color: #6C6E79;
}
.settings:hover{
    background-color: #797B86;
}
nav{
    grid-area: navbar;
    top: 0;
    align-self: start;
    position: sticky;
    min-height: 48px;
    max-height: 48px;
    color: white;
    background-color: #252549;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
nav img{
    width: 200px;
}
aside{
    color: #f5f5f5;
    grid-area: sidebar;
    top: 0;
    align-self: start;
    position: sticky;
    height: 100vh;
    background-color: #161625;
}
.profile{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.profile img{
    width: auto;
    height: 240px;
    border-radius: 50%;
}
/* CSS KALENDER AWAL*/
.wrapper{
    margin-left: 10px;
    max-width: 280px;
    background: #2a2a3e;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .icons{
    display: flex;
}
header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #8B8CB0;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}
header .icons span:last-child{
    margin-right: -10px;
}
header .icons span:hover{
    background-color: #222231;
    
}
header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}
.calendar{
    padding-left: 0;
    padding-right: 20px;
    min-height: 350px;
    font-family:arial;
    margin: 0;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .days{
    margin-bottom: 20px;
}
.calendar li{
    color: #EEEEF0;
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendar .weeks li{
    font-weight: 500;
    cursor: default;
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}
.days li.inactive{
    color: #4C4C6C;
}
.days li.active{
    color: #101018;
}
.calendar .days li::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li.active::before{
    background-color: #EAEBFE;
}
.days li:not(.active):hover::before{
    background: #222231;
}
/* Kalender Pop-up Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 500px;
    background: #fff;
    color:#101018;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
}
.btn_submit{
    float: right;
    min-width: 68px;
    margin-top: 8px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    background-color: #1D52E0;
    color: #EEEEF0;
}
.btn_cancel{
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: #1D52E0;
}
/* CSS KALENDER AKHIR*/
main{
    color: #f5f5f5;
    top: 40px;
    grid-area: main;
    background-color: #1e1e2f;
}