body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar navbar"
    "sidebar main"
}
nav{
    grid-area: navbar;
    top: 0;
    align-self: start;
    position: sticky;
    min-height: 48px;
    color: white;
    background-color: #252549;
}
aside{
    grid-area: sidebar;
    top: 0;
    align-self: start;
    position: sticky;
    height: 100vh;
    background-color: aliceblue;
}
main{
    top: 40px;
    grid-area: main;
}